.app-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.write-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1px;
}

.write-form {
  display: flex;
  flex-direction: column;
}

.write-date {
  font-size: 28px;
  margin-bottom: 16px;
}

.write-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.write-textarea {
  height: 300px;
  font-size: 20px;
}

.mood-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mood-content>input {
  display: none;
}

.mood-content>label {
  cursor: pointer;
}