.layout {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.header-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-app>ul {
  display: flex;
}

.navigation-app>ul>li:not(:first-child) {
  margin-left: 8px;
}

.write-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 1px;
}

.write-form {
  display: flex;
  flex-direction: column;
}

.write-date {
  font-size: 28px;
  margin-bottom: 16px;
}

.write-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.write-textarea {
  height: 300px;
  font-size: 20px;
}

.mood-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mood-content>input {
  display: none;
}

.mood-content>label {
  cursor: pointer;
}

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.month-container {
  width: 33.3%;
  height: 100px;
  border: 1px solid lightgray;
}

.disabled-card {
  opacity: 0.5;
  background-color: rgba(239, 239, 239, 0.4);
  pointer-events: none;
}

.disabled-link {
  opacity: 0.7;
  pointer-events: none;
}

.day-container {
  width: 14.2%;
  height: 100px;
  border: 1px solid lightgray;
}

.link-card {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation-calendar {
  display: flex;
  justify-content: space-between;
}

.navigation-content {
  display: flex;
  justify-content: flex-end;
}

.navigation-content>a {
  cursor: pointer;
}

.navigation-content>a:not(:first-child) {
  margin-left: 12px;
}